<mt:Setvar name="page_title" value="Movable Type Admin Screen Markup Component">
<mt:Setvar name="html_title" value="Movable Type Admin Screen Markup Component">
<mt:Setvar name="edit_screen" value="1">

<mt:setvarblock name="html_head" append="1">
<mt:ignore>JavaScript or CSS</mt:ignore>
</mt:setvarblock>

<mt:setvarblock name="system_msg">

<h2>App:Statusmsg</h2>

<pre>
&lt;mtapp:statusmsg class=&quot;success&quot; id=&quot;msg-success&quot; rebuild=&quot;all&quot; can_close=&quot;1&quot;&gt;
    Message success
&lt;/mtapp:statusmsg&gt;
&lt;mtapp:statusmsg class=&quot;error&quot;&gt;
    Message error
&lt;/mtapp:statusmsg&gt;
</pre>
<br />
<mtapp:statusmsg
    class="success"
    id="msg-success"
    rebuild="all"
    can_close="1">
    Message success
</mtapp:statusmsg>
<mtapp:statusmsg
    class="error">
    Message error
</mtapp:statusmsg>
</mt:setvarblock>

<mt:setvarblock name="related_content">

<h2>Related Content / App:Widget</h2>
<pre>
&lt;mt:setvarblock name=&quot;related_content&quot;&gt;
&lt;mtapp:widget
   label=&quot;Widget Label&quot;&gt;
    Widget Paragraph
&lt;/mtapp:widget&gt;

&lt;mtapp:widget
   id=&quot;useful-link-widget&quot;
   label=&quot;Widget with Links&quot;&gt;
    &lt;ul&gt;
    &lt;li&gt;&lt;a a class=&quot;icon-left icon-related&quot; href=&quot;https://movabletype.org&quot; target=&quot;_blank&quot;&gt;movabletype.org&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a a class=&quot;icon-left-xwide icon-action&quot; href=&quot;http://www.movabletype.jp&quot; target=&quot;_blank&quot;&gt;movabletype.jp&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/mtapp:widget&gt;

&lt;__trans_section component=&quot;AdminScreenComponent&quot;&gt;
&lt;mtapp:widget
   id=&quot;with-translate-widget&quot;
   label=&quot;&lt;__trans phrase=&quot;Translated Label&quot;&gt;&quot;&gt;
   &lt;__trans phrase=&quot;Translated Paragraph&quot;&gt;
&lt;/mtapp:widget&gt;
&lt;/__trans_section&gt;
&lt;/mt:setvarblock&gt;
</pre>
<br />
<mtapp:widget
   label="Widget Label">
   Widget Paragraph
</mtapp:widget>

<mtapp:widget
   id="useful-link-widget"
   label="Widget with Links">
    <ul>
    <li><a a class="icon-left icon-related" href="https://movabletype.org" target="_blank">movabletype.org</a></li>
    <li><a a class="icon-left-xwide icon-action" href="http://www.movabletype.jp" target="_blank">movabletype.jp</a></li>
    </ul>
</mtapp:widget>

<__trans_section component="AdminScreenComponent">
<mtapp:widget
   id="with-translate-widget"
   label="<__trans phrase="Translated Label">">
   <__trans phrase="Translated Paragraph">
</mtapp:widget>
</__trans_section>
</mt:setvarblock>

<mt:include name="include/header.tmpl" id="header_include">


<h2>App:Setting</h2>

<pre>
&lt;mtapp:setting
    id=&quot;setting-left-label&quot;
    label_class=&quot;left-label&quot;
    label=&quot;Setting with left label&quot;
    show_label=&quot;1&quot;
    show_hint=&quot;1&quot;
    hint=&quot;This is Hint&quot;
    warning=&quot;This is warning&quot;
    show_warning=&quot;1&quot;
    required=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; id=&quot;setting-left-label&quot; value=&quot;&quot; /&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="setting-left-label"
    label_class="left-label"
    label="Setting with left label"
    show_label="1"
    show_hint="1"
    hint="This is Hint"
    warning="This is warning"
    show_warning="1"
    required="1">
<input type="text" id="setting-left-label" value="" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;setting-top-label&quot;
    label_class=&quot;top-label&quot;
    label=&quot;Setting with top label&quot;
    show_label=&quot;1&quot;
    show_hint=&quot;1&quot;
    hint=&quot;This is Hint&quot;
    warning=&quot;This is warning&quot;
    show_warning=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; id=&quot;setting-top-label&quot; value=&quot;&quot; /&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="setting-top-label"
    label_class="top-label"
    label="Setting with top label"
    show_label="1"
    show_hint="1"
    hint="This is Hint"
    warning="This is warning"
    show_warning="1">
<input type="text" id="setting-top-label" value="" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;setting-no-label&quot;
    label_class=&quot;top-label&quot;
    show_label=&quot;0&quot;&gt;
&lt;input type=&quot;text&quot; id=&quot;setting-no-label&quot; value=&quot;Setting without label&quot; /&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="setting-no-label"
    label_class="top-label"
    show_label="0">
<input type="text" id="setting-no-label" value="Setting without label" />
</mtapp:setting>


<h2>Input Text</h2>

<pre>
&lt;mtapp:setting
    label_class=&quot;top-label&quot;
    label=&quot;text title&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text title&quot; id=&quot;text-title&quot; value=&quot;title&quot;&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-title"
    label_class="top-label"
    label="text title"
    show_hint="0"
    show_label="1">
<input type="text" class="text title" id="text-title" value="title" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-text&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text&quot; id=&quot;text-text&quot; value=&quot;text&quot;&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-text"
    label_class="top-label"
    label="text"
    show_hint="0"
    show_label="1">
<input type="text" class="text" id="text-text" value="text" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-num&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text num&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text num&quot; id=&quot;text-num&quot; value=&quot;num&quot;&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-num"
    label_class="top-label"
    label="text num"
    show_hint="0"
    show_label="1">
<input type="text" class="text num" id="text-num" value="num" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-path&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text path&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text path&quot; id=&quot;text-path&quot; value=&quot;path&quot;&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-path"
    label_class="top-label"
    label="text path"
    show_hint="0"
    show_label="1">
<input type="text" class="text path" id="text-path" value="path" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-short&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text short&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text short&quot; id=&quot;text-short&quot; value=&quot;short&quot;&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-short"
    label_class="top-label"
    label="text short"
    show_hint="0"
    show_label="1">
<input type="text" class="text short" id="text-short" value="short" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-full&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text full&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text full&quot; id=&quot;text-full&quot; value=&quot;full&quot; /&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-full"
    label_class="top-label"
    label="text full"
    show_hint="0"
    show_label="1">
<input type="text" class="text full" id="text-full" value="full" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-date&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text date&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text date&quot; id=&quot;text-date&quot; value=&quot;date&quot; /&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-date"
    label_class="top-label"
    label="text date"
    show_hint="0"
    show_label="1">
<input type="text" class="text date" id="text-date" value="date" />
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;text-time&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text time&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;input type=&quot;text&quot; class=&quot;text time&quot; id=&quot;text-time&quot; value=&quot;time&quot; /&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="text-time"
    label_class="top-label"
    label="text time"
    show_hint="0"
    show_label="1">
<input type="text" class="text time" id="text-time" value="time" />
</mtapp:setting>


<h2>Date &amp; Time</h2>

<pre>
&lt;mtapp:setting
    id=&quot;date-time&quot;
    label_class=&quot;top-label&quot;
    label=&quot;date-time-fields&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
    &lt;div class=&quot;date-time-fields&quot;&gt;
        &lt;input type=&quot;text&quot; id=&quot;time-on-date&quot; class=&quot;text date text-date&quot; name=&quot;time_on_date&quot; value=&quot;&quot; /&gt;
        &lt;span class=&quot;separator&quot;&gt; @&lt;/span&gt;
        &lt;input type=&quot;text&quot; id=&quot;time-on-time&quot; class=&quot;text time&quot; name=&quot;time_on_time&quot; value=&quot;&quot; /&gt;
    &lt;/div&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="date-time"
    label_class="top-label"
    label="date-time-fields"
    show_hint="0"
    show_label="1">
    <div class="date-time-fields">
        <input type="text" id="time-on-date" class="text date text-date" name="time_on_date" value="" />
        <span class="separator"> @</span>
        <input type="text" id="time-on-time" class="text time" name="time_on_time" value="" />
    </div>
</mtapp:setting>


<h2>TextArea</h2>

<pre>
&lt;mtapp:setting
    id=&quot;textarea-full&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text full&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;textarea class=&quot;text full&quot; id=&quot;textarea-full&quot;&gt;text full&lt;/textarea&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="textarea-full"
    label_class="top-label"
    label="text full"
    show_hint="0"
    show_label="1">
<textarea class="text full" id="textarea-full">text full</textarea>
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;textarea-full-low&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text full low&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;textarea class=&quot;text full low&quot; id=&quot;textarea-full-low&quot;&gt;text full low&lt;/textarea&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="textarea-full-low"
    label_class="top-label"
    label="text full low"
    show_hint="0"
    show_label="1">
<textarea class="text full low" id="textarea-full-low">text full low</textarea>
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;textarea-full-high&quot;
    label_class=&quot;top-label&quot;
    label=&quot;text full high&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;textarea class=&quot;text full high&quot; id=&quot;textarea-full-high&quot;&gt;text full high&lt;/textarea&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="textarea-full-high"
    label_class="top-label"
    label="text full high"
    show_hint="0"
    show_label="1">
<textarea class="text full high" id="textarea-full-high">text full high</textarea>
</mtapp:setting>

<h2>Button</h2>

<pre>
&lt;mtapp:setting
    id=&quot;button-action-primary&quot;
    label_class=&quot;top-label&quot;
    label=&quot;action primary button&quot;
    show_hint=&quot;0&quot;
    show_label=&quot;1&quot;&gt;
&lt;button type=&quot;submit&quot; class=&quot;action primary button&quot; id=&quot;button-action-primary&quot;&gt;Primary&lt;/button&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="button-action-primary"
    label_class="top-label"
    label="action primary button"
    show_hint="0"
    show_label="1">
<button type="submit" class="action primary button" id="button-action-primary">Primary</button>
</mtapp:setting>

<pre>
&lt;mtapp:setting
    id=&quot;button-action&quot;
    label_class=&quot;top-label&quot;
    label=&quot;action button&quot;
    show_label=&quot;1&quot;&gt;
&lt;button type=&quot;submit&quot; class=&quot;action button&quot; id=&quot;button-action&quot;&gt;Action&lt;/button&gt;
&lt;/mtapp:setting&gt;
</pre>
<br />
<mtapp:setting
    id="button-action"
    label_class="top-label"
    label="action button"
    show_hint="0"
    show_label="1">
<button type="submit" class="action button" id="button-action">Action</button>
</mtapp:setting>

<mt:include name="include/footer.tmpl" id="footer_include">
