<mt:Setvar name="page_title" value="Movable Type Admin Screen Markup Component">
<mt:Setvar name="html_title" value="Movable Type Admin Screen Markup Component">
<mt:include name="include/header.tmpl" id="header_include">
<mt:include name="include/footer.tmpl" id="footer_include">
