<mt:Setvar name="page_title" value="Movable Type Admin Screen Markup Component">
<mt:Setvar name="html_title" value="Movable Type Admin Screen Markup Component">
<mt:Setvar name="edit_screen" value="1">

<mt:setvarblock name="html_head" append="1">
<mt:ignore>JavaScript or CSS</mt:ignore>
</mt:setvarblock>

<mt:setvarblock name="system_msg">

<mtapp:statusmsg
    class="success"
    id="msg-success"
    rebuild="all"
    can_close="1">
    Message success
</mtapp:statusmsg>
<mtapp:statusmsg
    class="error">
    Message error
</mtapp:statusmsg>
</mt:setvarblock>

<mt:setvarblock name="related_content">

<mtapp:widget
   label="Widget Label">
   Widget Paragraph
</mtapp:widget>

<mtapp:widget
   id="useful-link-widget"
   label="Widget with Links">
    <ul>
    <li><a a class="icon-left icon-related" href="https://movabletype.org" target="_blank">movabletype.org</a></li>
    <li><a a class="icon-left-xwide icon-action" href="http://www.movabletype.jp" target="_blank">movabletype.jp</a></li>
    </ul>
</mtapp:widget>

<__trans_section component="AdminScreenComponent">
<mtapp:widget
   id="with-translate-widget"
   label="<__trans phrase="Translated Label">">
   <__trans phrase="Translated Paragraph">
</mtapp:widget>
</__trans_section>
</mt:setvarblock>

<mt:include name="include/header.tmpl" id="header_include">

<mtapp:setting
    id="setting-left-label"
    label_class="left-label"
    label="Setting with left label"
    show_label="1"
    show_hint="1"
    hint="This is Hint"
    warning="This is warning"
    show_warning="1"
    required="1">
<input type="text" id="setting-left-label" value="" />
</mtapp:setting>

<mtapp:setting
    id="setting-top-label"
    label_class="top-label"
    label="Setting with top label"
    show_label="1"
    show_hint="1"
    hint="This is Hint"
    warning="This is warning"
    show_warning="1">
<input type="text" id="setting-top-label" value="" />
</mtapp:setting>

<mtapp:setting
    id="setting-no-label"
    label_class="top-label"
    show_label="0">
<input type="text" id="setting-no-label" value="Setting without label" />
</mtapp:setting>

<mtapp:setting
    id="text-title"
    label_class="top-label"
    label="text title"
    show_hint="0"
    show_label="1">
<input type="text" class="text title" id="text-title" value="title" />
</mtapp:setting>

<mtapp:setting
    id="text-text"
    label_class="top-label"
    label="text"
    show_hint="0"
    show_label="1">
<input type="text" class="text" id="text-text" value="text" />
</mtapp:setting>

<mtapp:setting
    id="text-num"
    label_class="top-label"
    label="text num"
    show_hint="0"
    show_label="1">
<input type="text" class="text num" id="text-num" value="num" />
</mtapp:setting>

<mtapp:setting
    id="text-path"
    label_class="top-label"
    label="text path"
    show_hint="0"
    show_label="1">
<input type="text" class="text path" id="text-path" value="path" />
</mtapp:setting>

<mtapp:setting
    id="text-short"
    label_class="top-label"
    label="text short"
    show_hint="0"
    show_label="1">
<input type="text" class="text short" id="text-short" value="short" />
</mtapp:setting>

<mtapp:setting
    id="text-full"
    label_class="top-label"
    label="text full"
    show_hint="0"
    show_label="1">
<input type="text" class="text full" id="text-full" value="full" />
</mtapp:setting>

<mtapp:setting
    id="text-date"
    label_class="top-label"
    label="text date"
    show_hint="0"
    show_label="1">
<input type="text" class="text date" id="text-date" value="date" />
</mtapp:setting>

<mtapp:setting
    id="text-time"
    label_class="top-label"
    label="text time"
    show_hint="0"
    show_label="1">
<input type="text" class="text time" id="text-time" value="time" />
</mtapp:setting>

<mtapp:setting
    id="date-time"
    label_class="top-label"
    label="date-time-fields"
    show_hint="0"
    show_label="1">
    <div class="date-time-fields">
        <input type="text" id="time-on-date" class="text date text-date" name="time_on_date" value="" />
        <span class="separator"> @</span>
        <input type="text" id="time-on-time" class="text time" name="time_on_time" value="" />
    </div>
</mtapp:setting>

<mtapp:setting
    id="textarea-full"
    label_class="top-label"
    label="text full"
    show_hint="0"
    show_label="1">
<textarea class="text full" id="textarea-full">text full</textarea>
</mtapp:setting>

<mtapp:setting
    id="textarea-full-low"
    label_class="top-label"
    label="text full low"
    show_hint="0"
    show_label="1">
<textarea class="text full low" id="textarea-full-low">text full low</textarea>
</mtapp:setting>

<mtapp:setting
    id="textarea-full-high"
    label_class="top-label"
    label="text full high"
    show_hint="0"
    show_label="1">
<textarea class="text full high" id="textarea-full-high">text full high</textarea>
</mtapp:setting>


<mtapp:setting
    id="button-action-primary"
    label_class="top-label"
    label="action primary button"
    show_hint="0"
    show_label="1">
<button type="submit" class="action primary button" id="button-action-primary">Primary</button>
</mtapp:setting>

<mtapp:setting
    id="button-action"
    label_class="top-label"
    label="action button"
    show_hint="0"
    show_label="1">
<button type="submit" class="action button" id="button-action">Action</button>
</mtapp:setting>

<mt:include name="include/footer.tmpl" id="footer_include">
